h1 {
  text-align: center;
  width: 100%;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

#start-experience {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;

  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: 2px solid gray;
  border-radius: 12px;
  backdrop-filter: blur(6px);

  cursor: pointer;
  transition: 0.3s ease;
  z-index: 200;
}

#start-experience:hover {
  background: grey;
  border-color: rgba(255, 255, 255, 0.7);
}


#symbols-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

.symbol {
  width: 120px;
  height: 120px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: transparent;
}

