* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#webcam-container {
  position: relative;
  width: 740px;
  height: 400px;
  margin: auto;
}

#webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

#emotion-aura {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 5;
  transition: background 0.6s ease, opacity 0.6s ease;
  opacity: 3;
}


#symbols-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

#emotion-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}

.symbol {
  width: 110px;
  height: 110px;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: pulse 3s infinite ease-in-out alternate;
  z-index: 30;
}

@keyframes pulse {
  from { transform: translate(-50%, -50%) scale(0.9); }
  to   { transform: translate(-50%, -50%) scale(1.05); }
}